literalai
nltk
pandas==2.2.3
python-dotenv==1.0.1
textblob==0.18.0.post0
textstat==0.7.4
ipykernel  # minimum needed to run jupyter in VSCode or Cursor
umap-learn
hdbscan
sentence-transformers
bertopic
openai
